# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/

tools/camera*/*                  @lecorguille
tools/correlation_analysis/*     @melpetera
tools/nmr*/*                     @mtremblayfr @lecorguille
tools/normalization/*            @mtremblayfr @lecorguille
tools/xcms*/*                    @lecorguille
tools/isoplot*/*                 @llegregam
tools/influx_data_manager*/*     @llegregam
tools/physiofit*/*               @llegregam
tools/physiofit_manager*/*       @llegregam
tools/skyline2isocor*/*          @llegregam
